{% extends 'banco_unisul/baseinterno.html' %}
{% block title %}Alterar dados de Conta{% endblock %}
{% block cad_conta %}active{% endblock %}

{% block body %}
    {% if contas %}
        <div class="active">
            <ul>
                {% for conta in contas %}
                    <li><a href="{% url 'banco_unisul:clientepj-update' conta.id %}"><span aria-hidden="true"></span>{{ conta.get_cliente.nome }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="col-sm-12">
            <h3>Não existe cliente cadastrado.</h3>
        </div>
    {% endif %}
{% endblock %}