{% extends 'banco_unisul/base.html' %}

{% block menu %}
<li class="{% block cad_cliente %}{% endblock %}"><a href="{% url 'banco_unisul:cad_cliente' %}"><span aria-hidden="true"></span>&nbsp; Cliente</a></li>
<li class="{% block cad_conta %}{% endblock %}"><a href="{% url 'banco_unisul:cad_conta' %}"><span aria-hidden="true"></span>&nbsp; Conta</a></li>
<li class="{% block cad_socio %}{% endblock %}"><a href="{% url 'banco_unisul:cad_socio' %}"><span aria-hidden="true"></span>&nbsp; Socio</a></li>
<li class="{% block relatorio %}{% endblock %}"><a href="{% url 'banco_unisul:relatorio' %}"><span aria-hidden="true"></span>&nbsp; Relatorio</a></li>
{% endblock %}