{% extends 'banco_unisul/baseinterno.html' %}
{% block title %}Cadastro de Socios{% endblock %}
{% block cad_socio %}active{% endblock %}

{% block body %}
    <div class="active">
        <ul>
            <li><a href="{% url 'banco_unisul:socio-add' %}"><span aria-hidden="true"></span>Novo Socio</a></li>
            <li><a href="{% url 'banco_unisul:todosclientepj' %}"><span aria-hidden="true"></span>Altera Socio</a></li>
            <li><a href="{% url 'banco_unisul:listaclientespjexclui' %}"><span aria-hidden="true"></span>Exclui Socio</a></li>
        </ul>
    </div>
{% endblock %}