{% extends 'banco_unisul/baseinterno.html' %}
{% block title %}Cadastro de Conta{% endblock %}
{% block cad_conta %}active{% endblock %}

{% block body %}
    <div class="active">
        <ul>
            <li><a href="{% url 'banco_unisul:conta-add' %}"><span aria-hidden="true"></span>Nova Conta</a></li>
            <li><a href="{% url 'banco_unisul:listaconta' %}"><span aria-hidden="true"></span>Altera Conta</a></li>
            <li><a href="{% url 'banco_unisul:listaexcluiconta' %}"><span aria-hidden="true"></span>Exclui Conta</a></li>
        </ul>
    </div>
{% endblock %}