{% extends 'banco_unisul/baseinterno.html' %}
{% block title %}Detalhe Cliente{% endblock %}
{% block cad_cliente %}active{% endblock %}

{% block body %}
    {% csrf_token %}
    <div class="col-sm-12">
        <h1>Cliente</h1>
        {{ cliente.nome }}
        <h4>Endereço</h4>
        {{ cliente.endereco }}
        <h4>Agência</h4>
        {{ cliente.agencia }}
        <h4>CPF</h4>
        {{ CPF }}
        {% if cliente.conta_set.all %}
            <h4>Saldo</h4>
            {% for conta in cliente.conta_set.all %}
                {% if conta.tpconta == 1 %}Conta Corrente{% endif %}{% if conta.tpconta == 2 %}Conta Poupanca{% endif %}
                <a href="{% url 'banco_unisul:detalheconta' conta.id %}"><span aria-hidden="true"></span> R$ {{ conta.saldo }}</a><br>
                {% if conta.tpconta == 1 and conta.flespecial %}Cheque especial R$ {{ conta.chespecial }}<br>{% endif %}
            {% endfor %}
        {% else %}
            <a href="{% url 'banco_unisul:conta_cliente' cliente.id %}"><span aria-hidden="true"></span>Criar Conta</a>
        {% endif %}
    </div>
{% endblock %}