{% extends 'banco_unisul/baseinterno.html' %}
{% block title %}Relatório{% endblock %}
{% block relatorio %}active{% endblock %}

{% block body %}
    <div class="active">
        <ul>
            <li><a href="{% url 'banco_unisul:dadosrelatorio' %}"><span aria-hidden="true"></span>Novo Relatorio</a></li>
{#            <li><a href="{% url 'banco_unisul:alt_socio' %}"><span aria-hidden="true"></span>&nbsp; Altera Socio</a></li>#}
{#            <li><a href="{% url 'banco_unisul:exc_socio' %}"><span aria-hidden="true"></span>&nbsp; Exclui Socio</a></li>#}
        </ul>
    </div>
{% endblock %}