{% extends 'banco_unisul/bancoexterno.html' %}
{% block title %}Transferência{% endblock %}
{% block transferencia %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if form.non_field_errors %}
                            <div class="col-sm-offset-2 col-sm-10">
                              {% for error in form.non_field_errors %}
                                  <span class="text-danger small">{{error}}</span>
                              {% endfor %}
                            </div>
                        {% endif %}

                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name == 'origem' or field.name == 'destino' %}
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <span class="text-danger small"></span>
                                        </div>
                                        <label class="control-label col-sm-2"><label for="id_{{ field.name }}">{{ field.name.title }}:</label></label>
                                        <div class="col-sm-10">
                                            {% if field.name == 'origem' %}
                                            <select id="id_{{ field.name }}" name="{{ field.name }}" required>
                                                <option value="{{ conta.conta_set.get.id }}" selected="selected">{{ conta.conta_set.get }}</option>
                                                {% if conta.socio_set.all %}
                                                    {% for socio in conta.socio_set.all %}
                                                        <option value="{{ socio.empresa.conta_set.get.id }}" selected="selected">{{ socio.empresa.conta_set.get }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            {% elif field.name == 'destino' %}
                                            <select id="id_{{ field.name }}" name="{{ field.name }}" required>
                                                <option value="" selected="selected">--------------------</option>
                                                {% for usuario in destino %}
                                                    <option value="{{ usuario.id }}">{{ usuario }}</option>
                                                {% endfor %}
                                            </select>
                                            {% endif %}
                                        </div>

                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <span class="text-danger small">{{ field.errors }}</span>
                                        </div>
                                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                                        <div class="col-sm-10">{{ field }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <div class="form-group">
                                <div class=" col-sm-offset2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
